<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.UserMapper">

    <!-- 查询图片信息-->
    <select id="queryTuPian" resultType="com.jk.model.JingBean">

    select * from zyf_JM2

    </select>

    <!--查询北京信息-->
    <select id="queryBeiJing" resultType="com.jk.model.BeiBean">
        select * from zyf_Bei
    </select>
    <!-- 查询主题信息-->
    <select id="queryZhuTi" resultType="com.jk.model.ZhuTiBean">
        select * from zyf_Zt
    </select>

    <!--查询出行时间-->
    <select id="queryShiJian" resultType="com.jk.model.ShiJianBean">
        select * from zyf_Sj
    </select>

    <!--查询目的地-->
    <select id="queryMuDi" resultType="com.jk.model.MuDiBean">
        select * from zyf_Md
    </select>

    <!--景点详情查询-->
    <select id="queryJing" parameterType="int" resultType="com.jk.model.XiangBean">
       select xingImg,xiangJie,xiangDiTu from zyf_XQ zx left join zyf_JM2 zj on zx.pid = zj.jingId where zx.pid = #{jingId}
    </select>
</mapper>