<!DOCTYPE html>
<html lang="en">
<head>
    <title>酒店</title>

    <!--== META TAGS ==-->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700%7CMontserrat:400,700" rel="stylesheet">

    <!-- FONT-AWESOME ICON CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!--== ALL CSS FILES ==-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/mob.css">
    <link rel="stylesheet" href="css/radio.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!--====== TOP HEADER ==========-->
<section>
    <div class="rows head" data-spy="affix" data-offset-top="120">
     <div class="container">
       <div>
       <!--====== BRANDING LOGO ==========-->
         <div class="col-md-4 col-sm-12 col-xs-12 head_left">
           <a href="index.html"><img src="images/0.png" height="50px" width="50px" alt="" /></a>
         </div>
       <!--====== HELP LINE & EMAIL ID ==========-->
         <div class="col-md-8 col-sm-12 col-xs-12 head_right head_right_all">
           <ul>
             <li>
               <a href="#">帮助热线: +13145210621</a>
             </li>
             <li>
               <a href="#">电子邮件: 1257376815qq.com</a>
             </li>
             <li>
               <div class="dropdown">
                 <button class="dropbtn">我的账号</button>
                   <div class="dropdown-content">
                     <a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> 登录</a>
                     <a href="#"><i class="fa fa-address-book-o" aria-hidden="true"></i> 注册</a>
                     <a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i> 我的预定</a>
                     <a href="#"><i class="fa fa-umbrella" aria-hidden="true"></i> 旅游包</a>
                     <a href="#"><i class="fa fa-bed" aria-hidden="true"></i>酒店预订</a>
                     <a href="#"><i class="fa fa-ban" aria-hidden="true"></i>取消预订</a>
                     <a href="#" class="ho-dr-con-last">
                         <i class="fa fa-align-justify" aria-hidden="true"></i>
                         定制的旅游计划
                     </a>
                   </div>
               </div>
             </li>
           </ul>
         </div>
       </div>
     </div>
    </div>
</section>

<!--====== NAVIGATION MENU ==========-->
<section>
    <div class="rows main_menu">
     <div class="container res-menu">
      <nav class="navbar navbar-inverse">
        <div>
          <!-- Brand and toggle get grouped for better mobile display(MOBILE MENU) -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
             <img src="images/logo.png" alt="" class="mob_logo" />
          </div>
  <!-- NAVIGATION MENU -->
          <div class="collapse navbar-collapse" id="myNavbar">
           <ul class="nav navbar-nav">
             <li><a href="listHotel"><font color="#00ff7f" size="4px"><b>酒店</b></font> </a>
            </ul>
           <div class="menu_book"><a href="booking">预订套餐</a>
           </div>
         </div>
        </div>
      </nav>
    </div>
  </div>
</section>
<!--====== HOTELS LIST ==========-->
<section class="hot-page2-alp hot-page2-pa-sp-top">
    <div class="container">
      <div class="row inner_banner bg-none">
        <div class="hot-page2-alp-tit">
          <h1>为您的江南的之旅提供最便捷舒适的家❤</h1>
            <!--
           <ul>
             <li>
               <a href="#inner-page-title">家</a>
             </li>
             <li>
               <i class="fa fa-angle-right" aria-hidden="true"></i>
             </li>
              <li>
                <a href="#inner-page-title" class="bread-acti">温暖舒适的酒店</a>
              </li>
           </ul>
             -->
           <p> 全球领先的酒店预订网站，全球超过50,000间酒店客房 </p>
        </div>
      </div>
      <div class="row">
        <div class="hot-page2-alp-con">
          <!--LEFT LISTINGS-->
            <div class="col-md-3 hot-page2-alp-con-left">
          <!--PART 1 : LEFT LISTINGS-->
            <div class="hot-page2-alp-con-left-1">
               <h3>推荐酒店</h3>
             </div>
          <!--PART 2 : LEFT LISTINGS-->
            <div class="hot-page2-hom-pre hot-page2-alp-left-ner-notb">
              <ul>
              <!--LISTINGS-->
                <li>
                  <a href="https://www.tripadvisor.cn/Hotel_Review-g294212-d302020-Reviews-The_Peninsula_Beijing-Beijing.html">
                   <div class="hot-page2-hom-pre-1 hot-page2-alp-cl-1-1">
                     <img src="/images/hotels/0610.jpg" alt="" >
                   </div>
                    <div class="hot-page2-hom-pre-2 hot-page2-alp-cl-1-2">
                          <h5> 王府半岛酒店</h5>
                        <span>城市: 北京</span>
                    </div>
                    <div class="hot-page2-hom-pre-3 hot-page2-alp-cl-1-3">
                        <span>4.8</span>
                    </div>
                   </a>
                </li>
              <!--LISTINGS-->
                <li>
                  <a href="https://www.tripadvisor.cn/Hotel_Review-g311293-d4611574-Reviews-The_Ritz_Carlton_Tianjin-Tianjin.html">
                    <div class="hot-page2-hom-pre-1 hot-page2-alp-cl-1-1">
                      <img src="images/hotels/0611.jpg" alt="">
                    </div>
                    <div class="hot-page2-hom-pre-2 hot-page2-alp-cl-1-2">
                      <h5>丽思卡尔顿酒店</h5>
                        <span>城市: 天津</span>
                    </div>
                    <div class="hot-page2-hom-pre-3 hot-page2-alp-cl-1-3">
                      <span>4.2</span>
                    </div>
                  </a>
                </li>
              <!--LISTINGS-->
                <li>
                  <a href="https://www.tripadvisor.cn/Hotel_Review-g308272-d3831513-Reviews-Mandarin_Oriental_Pudong_Shanghai-Shanghai.html">
                    <div class="hot-page2-hom-pre-1 hot-page2-alp-cl-1-1">
                      <img src="images/hotels/0612.jpg" alt="">
                    </div>
                    <div class="hot-page2-hom-pre-2 hot-page2-alp-cl-1-2">
                      <h5>浦东文华东方酒店</h5>
                        <span>城市: 上海</span>
                    </div>
                     <div class="hot-page2-hom-pre-3 hot-page2-alp-cl-1-3">
                        <span>4.5</span>
                     </div>
                  </a>
                </li>
          <!--LISTINGS-->
                <li>
                 <a href="https://www.tripadvisor.cn/Hotel_Review-g294213-d6894453-Reviews-Wyndham_Chongqing_Yuelai-Chongqing.html">
               <div class="hot-page2-hom-pre-1 hot-page2-alp-cl-1-1">
                  <img src="images/hotels/0613.jpg" alt="">
               </div>
               <div class="hot-page2-hom-pre-2 hot-page2-alp-cl-1-2">
                     <h5>悦来温德姆酒店</h5>
                     <span>城市：重庆</span>
               </div>
               <div class="hot-page2-hom-pre-3 hot-page2-alp-cl-1-3">
                     <span>4.5</span>
               </div>
                 </a>
                </li>
           <!--LISTINGS-->
               <li>
                 <a href="https://www.tripadvisor.cn/Hotel_Review-g298559-d1733741-Reviews-Four_Seasons_Hangzhou_at_West_Lake-Hangzhou_Zhejiang.html">
                <div class="hot-page2-hom-pre-1 hot-page2-alp-cl-1-1">
                   <img src="images/hotels/0614.jpg" alt="">
                </div>
                <div class="hot-page2-hom-pre-2 hot-page2-alp-cl-1-2">
                    <h5>西子湖四季酒店</h5>
                     <span>城市：杭州</span>
                 </div>
                 <div class="hot-page2-hom-pre-3 hot-page2-alp-cl-1-3">
                     <span>5.0</span>
                 </div>
                  </a>
                 </li>
                </ul>
                    </div>
                    <!--PART 7 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                        <h4>
                          <i class="fa fa-star-o" aria-hidden="true"></i>酒店查询
                        </h4>
                        <div class="hot-page2-alp-l-com1 hot-room-ava-check">
                            <form>
                                <ul>
                                    <li>
                                        <label>输入你的城市</label>
                                        <input type="text" placeholder="Enter City">
                                    </li>
                                    <li>
                                        <label>出发日期</label>
                                        <input type="date">
                                    </li>
                                    <li>
                                        <label>归期</label>
                                        <input type="date">
                                    </li>
                                    <li>
                                        <input type="submit" value="提交">
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
          <!--PART 4 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                        <h4>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>选择城市
                        </h4>
                        <div class="hot-page2-alp-l-com1 hot-page2-alp-p4">
                            <form>
                                <ul>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp41" class="styled" type="checkbox" checked="">
                                            <label for="chp41">
                                                北京
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp42" class="styled" type="checkbox">
                                            <label for="chp42">
                                               天津
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp43" class="styled" type="checkbox">
                                            <label for="chp43">
                                               上海
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp44" class="styled" type="checkbox">
                                            <label for="chp44">
                                                重庆
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp45" class="styled" type="checkbox">
                                            <label for="chp45">
                                                杭州
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                            <a href="javascript:void(0);" class="hot-page2-alp-p4-btn-s">查看更多</a>
                        </div>
                    </div>
                    <!--END PART 4 : LEFT LISTINGS-->
                    <!--PART 5 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                        <h4>
                            <i class="fa fa-dollar" aria-hidden="true"></i>选择价格范围
                        </h4>
                        <div class="hot-page2-alp-l-com1 hot-page2-alp-p5">
                            <form>
                                <ul>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp51" class="styled" type="checkbox" checked="">
                                            <label for="chp51">
                                                4000 以上
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp52" class="styled" type="checkbox">
                                            <label for="chp52">
                                                3000 - 4000
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp53" class="styled" type="checkbox">
                                            <label for="chp53">
                                                2000 - 3000
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp54" class="styled" type="checkbox">
                                            <label for="chp54">
                                                1000 - 2000
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp55" class="styled" type="checkbox">
                                            <label for="chp55">
                                                1000 以下
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                            <a href="javascript:void(0);" class="hot-page2-alp-p5-btn-s">查看更多</a>
                        </div>
                    </div>
                    <!--END PART 5 : LEFT LISTINGS-->
                    <!--PART 6 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                        <h4><i class="fa fa-star-o" aria-hidden="true"></i> 选择评级</h4>
                        <div class="hot-page2-alp-l-com1 hot-page2-alp-p5">
                            <form>
                                <ul>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp61" class="styled" type="checkbox" checked="">
                                            <label for="chp61">
                                                    <span class="ho-hot-rat-star-list">
                                                        <span class="hot-list-left-part-rat">5.0</span>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp62" class="styled" type="checkbox">
                                            <label for="chp62">
                                                    <span class="ho-hot-rat-star-list">
                                                        <span class="hot-list-left-part-rat">4.0</span>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp63" class="styled" type="checkbox">
                                            <label for="chp63">
                                                    <span class="ho-hot-rat-star-list">
                                                        <span class="hot-list-left-part-rat">3.0</span>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp64" class="styled" type="checkbox">
                                            <label for="chp64">
                                                    <span class="ho-hot-rat-star-list">
                                                        <span class="hot-list-left-part-rat">2.0</span>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp65" class="styled" type="checkbox">
                                            <label for="chp65">
                                                    <span class="ho-hot-rat-star-list">
                                                        <span class="hot-list-left-part-rat">1.0</span>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                            <a href="javascript:void(0);" class="hot-page2-alp-p5-btn-s">查看更多</a>
                        </div>
                    </div>
                    <!--END PART 5 : LEFT LISTINGS-->
                    <!--PART 6 : LEFT LISTINGS-->
                    <div class="hot-page2-alp-l3 hot-page2-alp-l-com">
                        <h4><i class="fa fa-heart-o" aria-hidden="true"></i> 酒店设施</h4>
                        <div class="hot-page2-alp-l-com1 hot-page2-alp-p5">
                            <form>
                                <ul>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp71" class="styled" type="checkbox" checked="">
                                            <label for="chp71">
                                                游泳池
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp72" class="styled" type="checkbox">
                                            <label for="chp72">
                                                Wi-Fi 和计算机
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp73" class="styled" type="checkbox">
                                            <label for="chp73">
                                               厨房设施
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp74" class="styled" type="checkbox">
                                            <label for="chp74">
                                               音乐与健身
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox checkbox-info checkbox-circle">
                                            <input id="chp75" class="styled" type="checkbox">
                                            <label for="chp75">
                                                餐饮
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                            <a href="javascript:void(0);" class="hot-page2-alp-p5-btn-s">查看更多</a>
                        </div>
                    </div>
                    <!--END PART 7 : LEFT LISTINGS-->
                </div>
                <!--END LEFT LISTINGS-->

                <!--RIGHT LISTINGS-->
                <div class="col-md-9 hot-page2-alp-con-right">
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                        <li><a id="beijing"><font  size="4px"><b>北京</b></font> </a>
                        <li><a id="tianjin"><font  size="4px"><b>天津</b></font> </a>
                        <li><a id="shanghai"><font  size="4px"><b>上海</b></font> </a>
                        <li><a id="chongqing"><font  size="4px"><b>重庆</b></font> </a>
                        <li><a id="hangzhou"><font  size="4px"><b>杭州</b></font> </a>
                      </ul>
                    </div>
                    <div class="hot-page2-alp-con-right-1" id="jiudian">

                    </div>

                </div>
                <!--END RIGHT LISTINGS-->
            </div>
        </div>
    </div>
</section>
<!--====== TIPS BEFORE TRAVEL ==========-->
<section>
    <div class="rows tips tips-home tb-space home_title">
        <div class="container tips_1">
            <!-- TIPS BEFORE TRAVEL -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>旅行前的提示</h3>
                <div class="tips_left tips_left_1">
                    <h5>Bring copies of your passport</h5>
                    <p>Aliquam pretium id justo eget tristique. Aenean feugiat vestibulum blandit.</p>
                </div>
                <div class="tips_left tips_left_2">
                    <h5>Register with your embassy</h5>
                    <p>Mauris efficitur, ante sit amet rhoncus malesuada, orci justo sollicitudin.</p>
                </div>
                <div class="tips_left tips_left_3">
                    <h5>Always have local cash</h5>
                    <p>Donec et placerat ante. Etiam et velit in massa. </p>
                </div>
            </div>
            <!-- CUSTOMER TESTIMONIALS -->
            <div class="col-md-8 col-sm-6 col-xs-12 testi-2">
                <!-- TESTIMONIAL TITLE -->
                <h3>Customer Testimonials</h3>
                <div class="testi">
                    <h4>John William</h4>
                    <p>Ut sed sem quis magna ultricies lacinia et sed tortor. Ut non tincidunt nisi, non elementum lorem. Aliquam gravida sodales</p>
                    <address>Illinois, United States of America</address>
                </div>
                <!-- ARRANGEMENTS & HELPS -->
                <h3>Arrangement & Helps</h3>
                <div class="arrange">
                    <ul>
                        <!-- LOCATION MANAGER -->
                        <li>
                            <a href="#"><img src="images/Location-Manager.png" alt="">
                            </a>
                        </li>
                        <!-- PRIVATE GUIDE -->
                        <li>
                            <a href="#"><img src="images/Private-Guide.png" alt="">
                            </a>
                        </li>
                        <!-- ARRANGEMENTS -->
                        <li>
                            <a href="#"><img src="images/Arrangements.png" alt="">
                            </a>
                        </li>
                        <!-- EVENT ACTIVITIES -->
                        <li>
                            <a href="#"><img src="images/Events-Activities.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<!--====== FOOTER 1 ==========-->
<section>
    <div class="rows">
        <div class="footer1 home_title tb-space">
            <div class="pla1 container">
                <!-- FOOTER OFFER 1 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="disco">
                        <h3>30%<span>折扣</span></h3>
                        <h4>罗马</h4>
                        <p>仅在5月1日有效</p>
                        <a href="booking">现在预订</a>
                    </div>
                </div>
                <!-- FOOTER OFFER 2 -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="disco1 disco">
                        <h3>42%<span>折扣</span></h3>
                        <h4>Colosseum,Burj Al Arab</h4>
                        <p>仅在5月1日有效</p>
                        <a href="xuyu">现在预订</a>
                    </div>
                </div>
                <!-- FOOTER MOST POPULAR VACATIONS -->
                <div class="col-md-6 col-sm-12 col-xs-12 foot-spec footer_places">
                    <h4><span>最受欢迎的</span> 景点</h4>
                    <ul>
                        <li><a href="http://www.tuniu.com/tour/210681289">香山</a>
                        </li>
                        <li><a href="tour-details.html">天安门</a>
                        </li>
                        <li><a href="tour-details.html">八达岭野生动物园</a>
                        </li>
                        <li><a href="tour-details.html">长城</a>
                        </li>
                        <li><a href="tour-details.html">故宫</a>
                        </li>
                        <li><a href="tour-details.html">欢乐谷</a>
                        </li>
                        <li><a href="tour-details.html">南锣鼓巷</a>
                        </li>
                        <li><a href="tour-details.html">后海</a>
                        </li>
                        <li><a href="tour-details.html">北海公园</a>
                        </li>
                        <li><a href="tour-details.html">王府井</a>
                        </li>
                        <li><a href="tour-details.html">紫禁城</a>
                        </li>
                        <li><a href="tour-details.html">十渡</a>
                        </li>
                        <li><a href="tour-details.html">玉渊潭公园</a>
                        </li>
                        <li><a href="tour-details.html">北京植物园</a>
                        </li>
                        <li><a href="tour-details.html">海洋馆</a>
                        </li>
                        <li><a href="tour-details.html">中央电视塔</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== FOOTER 2 ==========-->
<section>
    <div class="rows">
        <div class="footer">
            <div class="container">
                <div class="foot-sec2">
                    <div>
                        <div class="row">
                            <div class="col-sm-3 foot-spec foot-com">
                                <h4><span>假日</span> 旅游</h4>
                                <p>全球领先的旅游预订网站 全球超过50,000个旅游套餐</p>
                            </div>
                            <div class="col-sm-3 foot-spec foot-com">
                                <h4><span>地址</span> 及联络资料</h4>
                                <p>果园湖路28800号，美国法明顿山180号套</p>
                                <p>
                                    <span class="strong">电话: </span>
                                    <span class="highlighted">+ 101-1231-1231</span>
                                </p>
                            </div>
                            <div class="col-sm-3 col-md-3 foot-spec foot-com">
                                <h4><span>支持</span>和帮助</h4>
                                <ul class="two-columns">
                                    <li>
                                        <a href="#">关于我们</a>
                                    </li>
                                    <li>
                                        <a href="#">常见问题</a>
                                    </li>
                                    <li>
                                        <a href="#">反馈</a>
                                    </li>
                                    <li>
                                        <a href="#">博客 </a>
                                    </li>
                                    <li>
                                        <a href="#">用例</a>
                                    </li>
                                    <li>
                                        <a href="#">给我们做广告</a>
                                    </li>
                                    <li>
                                        <a href="#">折扣</a>
                                    </li>
                                    <li>
                                        <a href="#">休假</a>
                                    </li>
                                    <li>
                                        <a href="#">品牌优惠 </a>
                                    </li>
                                    <li>
                                        <a href="#">联系我们</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 foot-social foot-spec foot-com">
                                <h4><span>跟随</span> 我们</h4>
                                <p>北京欢迎您！</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== FOOTER - COPYRIGHT ==========-->
<section>
    <div class="rows copy">
        <div class="container">
            <p>Copyrights © 2017 Company Name. All Rights Reserved</p>
        </div>
    </div>
</section>

<section>
    <div class="icon-float">
        <ul>
            <li><a href="#" class="sh">1k <br> Share</a>
            </li>
            <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</section>

<!--========= Scripts ===========-->
<script src="js/jquery-latest.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>
</body>
<script>

 $(function () {
     jiudian();
 })

 //酒店首页
   function jiudian(){
        $.ajax({
            url:'/queryHotelList',
            success:function(data){
                var op="";
                for(var i=0;i<data.length;i++){
                    op+=" <div class=\"row\">\n" +
                        "<!--LISTINGS START-->\n" +
                        "<div class=\"hot-page2-alp-r-list\">\n" +
                        "<div class=\"col-md-4 hot-page2-alp-r-list-re-sp\">\n" +
                        "<a href=\"javascript:void(0);\">\n" +
                        "<div class=\"hotel-list-score\">"+data[i].pingfen+"</div>\n" +
                        "<div class=\"hot-page2-hli-1\">\n" +
                        "<img src=\""+data[i].img+"\" alt=\"\" height='300px' width='300px'>\n" +
                        "</div>\n" +
                        "<div class=\"hom-hot-av-tic hom-hot-av-tic-list\">\n" +
                        "可用房间: "+data[i].room+"\n" +
                        "</div>\n" +
                        "</a>\n" +
                        "</div>\n" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"hot-page2-alp-ri-p2\">\n" +
                        "<a href=\"hotel-details.html\">\n" +
                        "<h3>"+data[i].name+"</h3>\n" +
                        "</a>\n" +
                        "<ul>\n" +
                        "<li>"+data[i].dizhi+"</li>\n" +
                        "<li>"+data[i].phone+"</li>\n" +
                        "</ul>\n" +
                        "<p>\n" +
                        "<b>设施服务: </b></br>\n" +
                        "免费Wifi</br>\n" +
                        "停车服务</br>\n" +
                        "自助早餐</br>\n" +
                        "游泳池</br>\n" +
                        "无烟酒店</br>\n" +
                        "餐厅</br>\n" +
                        "机场接送</br>\n" +
                        "</p>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "<div class=\"col-md-2\">\n" +
                        "<div class=\"hot-page2-alp-ri-p3\">\n" +
                        "<div class=\"hot-page2-alp-r-hot-page-rat\">❤</div>\n" +
                        "<span class=\"hot-list-p3-1\">每晚价格</span>\n" +
                        "<span class=\"hot-list-p3-2\">$"+data[i].price+"</span>\n" +
                        "<span class=\"hot-list-p3-3\">$"+data[i].endPrice+"</span>\n" +
                        "<span class=\"hot-list-p3-4\">\n" +
                        "\t\t\t\t\t\t\t\t\t\t\t\t<a href=\"xuyu\" class=\"hot-page2-alp-quot-btn\">预订</a>\n" +
                        "\t\t\t\t\t\t\t\t\t\t\t</span>\n" +
                        "</div>\n" +
                        "</div>\n"+
                        "</div>\n"+
                        "</div>"
                }
                $("#jiudian").html(op);
            }
        })
    }


 //北京
 $("#beijing").click(function(){
         $.ajax({
             url:'/querybeijing',
             success:function(data){
                 var op="";
                 for(var i=0;i<data.length;i++){
                     op+=" <div class=\"row\">\n" +
                         "<!--LISTINGS START-->\n" +
                         "<div class=\"hot-page2-alp-r-list\">\n" +
                         "<div class=\"col-md-4 hot-page2-alp-r-list-re-sp\">\n" +
                         "<a href=\"javascript:void(0);\">\n" +
                         "<div class=\"hotel-list-score\">"+data[i].pingfen+"</div>\n" +
                         "<div class=\"hot-page2-hli-1\">\n" +
                         "<img src=\""+data[i].img+"\" alt=\"\" height='300px' width='300px'>\n" +
                         "</div>\n" +
                         "<div class=\"hom-hot-av-tic hom-hot-av-tic-list\">\n" +
                         "可用房间: "+data[i].room+"\n" +
                         "</div>\n" +
                         "</a>\n" +
                         "</div>\n" +
                         "<div class=\"col-md-6\">\n" +
                         "<div class=\"hot-page2-alp-ri-p2\">\n" +
                         "<a href=\"hotel-details.html\">\n" +
                         "<h3>"+data[i].name+"</h3>\n" +
                         "</a>\n" +
                         "<ul>\n" +
                         "<li>"+data[i].dizhi+"</li>\n" +
                         "<li>"+data[i].phone+"</li>\n" +
                         "</ul>\n" +
                         "<p>\n" +
                         "<b>设施服务: </b></br>\n" +
                         "免费Wifi</br>\n" +
                         "停车服务</br>\n" +
                         "自助早餐</br>\n" +
                         "游泳池</br>\n" +
                         "无烟酒店</br>\n" +
                         "餐厅</br>\n" +
                         "机场接送</br>\n" +
                         "</p>\n" +
                         "</div>\n" +
                         "</div>\n" +
                         "<div class=\"col-md-2\">\n" +
                         "<div class=\"hot-page2-alp-ri-p3\">\n" +
                         "<div class=\"hot-page2-alp-r-hot-page-rat\">❤</div>\n" +
                         "<span class=\"hot-list-p3-1\">每晚价格</span>\n" +
                         "<span class=\"hot-list-p3-2\">$"+data[i].price+"</span>\n" +
                         "<span class=\"hot-list-p3-3\">$"+data[i].endPrice+"</span>\n" +
                         "<span class=\"hot-list-p3-4\">\n" +
                         "\t\t\t\t\t\t\t\t\t\t\t\t<a href=\"xuyu\" class=\"hot-page2-alp-quot-btn\">预订</a>\n" +
                         "\t\t\t\t\t\t\t\t\t\t\t</span>\n" +
                         "</div>\n" +
                         "</div>\n"+
                         "</div>\n"+
                         "</div>"
                 }
                 $("#jiudian").html(op);
             }
         })
     }

 )


    //天津
    $("#tianjin").click(function(){
        $.ajax({
            url:'/queryTianJin',
            success:function(data){
                var op="";
                for(var i=0;i<data.length;i++){
                    op+=" <div class=\"row\">\n" +
                        "<!--LISTINGS START-->\n" +
                        "<div class=\"hot-page2-alp-r-list\">\n" +
                        "<div class=\"col-md-4 hot-page2-alp-r-list-re-sp\">\n" +
                        "<a href=\"javascript:void(0);\">\n" +
                        "<div class=\"hotel-list-score\">"+data[i].pingfen+"</div>\n" +
                        "<div class=\"hot-page2-hli-1\">\n" +
                        "<img src=\""+data[i].img+"\" alt=\"\" height='300px' width='300px'>\n" +
                        "</div>\n" +
                        "<div class=\"hom-hot-av-tic hom-hot-av-tic-list\">\n" +
                        "可用房间: "+data[i].room+"\n" +
                        "</div>\n" +
                        "</a>\n" +
                        "</div>\n" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"hot-page2-alp-ri-p2\">\n" +
                        "<a href=\"hotel-details.html\">\n" +
                        "<h3>"+data[i].name+"</h3>\n" +
                        "</a>\n" +
                        "<ul>\n" +
                        "<li>"+data[i].dizhi+"</li>\n" +
                        "<li>"+data[i].phone+"</li>\n" +
                        "</ul>\n" +
                        "<p>\n" +
                        "<b>设施服务: </b></br>\n" +
                        "免费Wifi</br>\n" +
                        "停车服务</br>\n" +
                        "自助早餐</br>\n" +
                        "游泳池</br>\n" +
                        "无烟酒店</br>\n" +
                        "餐厅</br>\n" +
                        "机场接送</br>\n" +
                        "</p>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "<div class=\"col-md-2\">\n" +
                        "<div class=\"hot-page2-alp-ri-p3\">\n" +
                        "<div class=\"hot-page2-alp-r-hot-page-rat\">❤</div>\n" +
                        "<span class=\"hot-list-p3-1\">每晚价格</span>\n" +
                        "<span class=\"hot-list-p3-2\">$"+data[i].price+"</span>\n" +
                        "<span class=\"hot-list-p3-3\">$"+data[i].endPrice+"</span>\n" +
                        "<span class=\"hot-list-p3-4\">\n" +
                        "\t\t\t\t\t\t\t\t\t\t\t\t<a href=\"xuyu\" class=\"hot-page2-alp-quot-btn\">预订</a>\n" +
                        "\t\t\t\t\t\t\t\t\t\t\t</span>\n" +
                        "</div>\n" +
                        "</div>\n"+
                        "</div>\n"+
                        "</div>"
                }
                $("#jiudian").html(op);
            }
        })
    }

    )

    //上海
    $("#shanghai").click(function(){
        $.ajax({
            url:'/queryshanghai',
            success:function(data){
                var op="";
                for(var i=0;i<data.length;i++){
                    op+=" <div class=\"row\">\n" +
                        "<!--LISTINGS START-->\n" +
                        "<div class=\"hot-page2-alp-r-list\">\n" +
                        "<div class=\"col-md-4 hot-page2-alp-r-list-re-sp\">\n" +
                        "<a href=\"javascript:void(0);\">\n" +
                        "<div class=\"hotel-list-score\">"+data[i].pingfen+"</div>\n" +
                        "<div class=\"hot-page2-hli-1\">\n" +
                        "<img src=\""+data[i].img+"\" alt=\"\" height='300px' width='300px'>\n" +
                        "</div>\n" +
                        "<div class=\"hom-hot-av-tic hom-hot-av-tic-list\">\n" +
                        "可用房间: "+data[i].room+"\n" +
                        "</div>\n" +
                        "</a>\n" +
                        "</div>\n" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"hot-page2-alp-ri-p2\">\n" +
                        "<a href=\"hotel-details.html\">\n" +
                        "<h3>"+data[i].name+"</h3>\n" +
                        "</a>\n" +
                        "<ul>\n" +
                        "<li>"+data[i].dizhi+"</li>\n" +
                        "<li>"+data[i].phone+"</li>\n" +
                        "</ul>\n" +
                        "<p>\n" +
                        "<b>设施服务: </b></br>\n" +
                        "免费Wifi</br>\n" +
                        "停车服务</br>\n" +
                        "自助早餐</br>\n" +
                        "游泳池</br>\n" +
                        "无烟酒店</br>\n" +
                        "餐厅</br>\n" +
                        "机场接送</br>\n" +
                        "</p>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "<div class=\"col-md-2\">\n" +
                        "<div class=\"hot-page2-alp-ri-p3\">\n" +
                        "<div class=\"hot-page2-alp-r-hot-page-rat\">❤</div>\n" +
                        "<span class=\"hot-list-p3-1\">每晚价格</span>\n" +
                        "<span class=\"hot-list-p3-2\">$"+data[i].price+"</span>\n" +
                        "<span class=\"hot-list-p3-3\">$"+data[i].endPrice+"</span>\n" +
                        "<span class=\"hot-list-p3-4\">\n" +
                        "\t\t\t\t\t\t\t\t\t\t\t\t<a href=\"xuyu\" class=\"hot-page2-alp-quot-btn\">预订</a>\n" +
                        "\t\t\t\t\t\t\t\t\t\t\t</span>\n" +
                        "</div>\n" +
                        "</div>\n"+
                        "</div>\n"+
                        "</div>"
                }
                $("#jiudian").html(op);
            }
        })
    }

    )


    //重庆
    $("#chongqing").click(function(){
        $.ajax({
            url:'/querychongqing',
            success:function(data){
                var op="";
                for(var i=0;i<data.length;i++){
                    op+=" <div class=\"row\">\n" +
                        "<!--LISTINGS START-->\n" +
                        "<div class=\"hot-page2-alp-r-list\">\n" +
                        "<div class=\"col-md-4 hot-page2-alp-r-list-re-sp\">\n" +
                        "<a href=\"javascript:void(0);\">\n" +
                        "<div class=\"hotel-list-score\">"+data[i].pingfen+"</div>\n" +
                        "<div class=\"hot-page2-hli-1\">\n" +
                        "<img src=\""+data[i].img+"\" alt=\"\" height='300px' width='300px'>\n" +
                        "</div>\n" +
                        "<div class=\"hom-hot-av-tic hom-hot-av-tic-list\">\n" +
                        "可用房间: "+data[i].room+"\n" +
                        "</div>\n" +
                        "</a>\n" +
                        "</div>\n" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"hot-page2-alp-ri-p2\">\n" +
                        "<a href=\"hotel-details.html\">\n" +
                        "<h3>"+data[i].name+"</h3>\n" +
                        "</a>\n" +
                        "<ul>\n" +
                        "<li>"+data[i].dizhi+"</li>\n" +
                        "<li>"+data[i].phone+"</li>\n" +
                        "</ul>\n" +
                        "<p>\n" +
                        "<b>设施服务: </b></br>\n" +
                        "免费Wifi</br>\n" +
                        "停车服务</br>\n" +
                        "自助早餐</br>\n" +
                        "游泳池</br>\n" +
                        "无烟酒店</br>\n" +
                        "餐厅</br>\n" +
                        "机场接送</br>\n" +
                        "</p>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "<div class=\"col-md-2\">\n" +
                        "<div class=\"hot-page2-alp-ri-p3\">\n" +
                        "<div class=\"hot-page2-alp-r-hot-page-rat\">❤</div>\n" +
                        "<span class=\"hot-list-p3-1\">每晚价格</span>\n" +
                        "<span class=\"hot-list-p3-2\">$"+data[i].price+"</span>\n" +
                        "<span class=\"hot-list-p3-3\">$"+data[i].endPrice+"</span>\n" +
                        "<span class=\"hot-list-p3-4\">\n" +
                        "\t\t\t\t\t\t\t\t\t\t\t\t<a href=\"xuyu\" class=\"hot-page2-alp-quot-btn\">预订</a>\n" +
                        "\t\t\t\t\t\t\t\t\t\t\t</span>\n" +
                        "</div>\n" +
                        "</div>\n"+
                        "</div>\n"+
                        "</div>"
                }
                $("#jiudian").html(op);
            }
        })
    }

    )
    //杭州
    $("#hangzhou").click(function(){
        $.ajax({
            url:'/queryhangzhou',
            success:function(data){
                var op="";
                for(var i=0;i<data.length;i++){
                    op+=" <div class=\"row\">\n" +
                        "<!--LISTINGS START-->\n" +
                        "<div class=\"hot-page2-alp-r-list\">\n" +
                        "<div class=\"col-md-4 hot-page2-alp-r-list-re-sp\">\n" +
                        "<a href=\"javascript:void(0);\">\n" +
                        "<div class=\"hotel-list-score\">"+data[i].pingfen+"</div>\n" +
                        "<div class=\"hot-page2-hli-1\">\n" +
                        "<img src=\""+data[i].img+"\" alt=\"\" height='300px' width='300px'>\n" +
                        "</div>\n" +
                        "<div class=\"hom-hot-av-tic hom-hot-av-tic-list\">\n" +
                        "可用房间: "+data[i].room+"\n" +
                        "</div>\n" +
                        "</a>\n" +
                        "</div>\n" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"hot-page2-alp-ri-p2\">\n" +
                        "<a href=\"hotel-details.html\">\n" +
                        "<h3>"+data[i].name+"</h3>\n" +
                        "</a>\n" +
                        "<ul>\n" +
                        "<li>"+data[i].dizhi+"</li>\n" +
                        "<li>"+data[i].phone+"</li>\n" +
                        "</ul>\n" +
                        "<p>\n" +
                        "<b>设施服务: </b></br>\n" +
                        "免费Wifi</br>\n" +
                        "停车服务</br>\n" +
                        "自助早餐</br>\n" +
                        "游泳池</br>\n" +
                        "无烟酒店</br>\n" +
                        "餐厅</br>\n" +
                        "机场接送</br>\n" +
                        "</p>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "<div class=\"col-md-2\">\n" +
                        "<div class=\"hot-page2-alp-ri-p3\">\n" +
                        "<div class=\"hot-page2-alp-r-hot-page-rat\">❤</div>\n" +
                        "<span class=\"hot-list-p3-1\">每晚价格</span>\n" +
                        "<span class=\"hot-list-p3-2\">$"+data[i].price+"</span>\n" +
                        "<span class=\"hot-list-p3-3\">$"+data[i].endPrice+"</span>\n" +
                        "<span class=\"hot-list-p3-4\">\n" +
                        "\t\t\t\t\t\t\t\t\t\t\t\t<a href=\"xuyu\" class=\"hot-page2-alp-quot-btn\">预订</a>\n" +
                        "\t\t\t\t\t\t\t\t\t\t\t</span>\n" +
                        "</div>\n" +
                        "</div>\n"+
                        "</div>\n"+
                        "</div>"
                }
                $("#jiudian").html(op);
            }
        })
    }

    )

</script>
</html>

